Flask==2.2.5
Flask-Bootstrap==3.3.7.1
Flask-Uploads==0.2.1

numpy==1.26.4
opencv-python==4.10.0.84

torch==1.13.1
torchvision==0.14.1
torchmetrics==0.11.4
pytorch_lightning==1.9.5

PyYAML==6.0.2
Werkzeug==2.2.3
